
<div class="cont">




	<!--PreLoader-->
  <div class="loader">
    <div class="loader-inner">
        <div class="circle"></div>
    </div>
</div>
<!--PreLoader Ends-->

<!-- header -->

<div class="top-header-area" id="sticker">
<div class="container">
  <div class="row">
    <div class="col-lg-12 col-sm-12 text-center">
      <div class="main-menu-wrap">

        <!-- logo -->


        <div class="site-logo">
          <a href="index.html">
            <img src="assets/img/logo.png" alt="">
          </a>
        </div>


        <!-- logo -->

        <!-- menu start -->



          <nav class="main-menu  ">
            <ul>
              <!-- <li class="current-list-item"><a href="#">Home</a>
                <ul class="sub-menu">
                  <li><a href="index.html">Static Home</a></li>
                  <li><a href="index_2.html">Slider Home</a></li>
                </ul>
              </li> -->
              <li ><a href="/AllResturants">All Resturant</a>
              <li><a href="about.html">About</a></li>
              <li><a href="#">Pages</a>
                <ul class="sub-menu">
                  <!-- <li><a href="404.html">404 page</a></li> -->
                  <li><a href="about.html">About</a></li>
                  <li><a href="/cart">Cart</a></li>
                  <li><a href="checkout.html">Check Out</a></li>
                  <li><a href="contact.html">Contact</a></li>
                  <li><a href="news.html">News</a></li>
                  <li><a href="shop.html">Shop</a></li>
                </ul>


              <li><a href="news.html">News</a>
                <ul class="sub-menu">
                  <li><a href="news.html">News</a></li>
                  <li><a href="single-news.html">Single News</a></li>
                </ul>
              </li>
              <li><a href="contactus">Contact</a></li>


                <li ><a href="/login">Login/Registration</a>


                <!-- <a class="mobile-hide search-bar-icon" href="#"><i class="fas fa-search"></i></a> -->


              </li>

              <!-- ////////////////////////// -->



              <li>
                <div class="header-icons">
                  <div class="container">
                  <header>
                    <!-- <h1>Your Shopping Cart</h1> -->
                    <div class="shopping " >
                        <img src="assets/img/carticon/1524618.png" (click)="visable()" s>
                        <span class="quantity">1</span>
                    </div>
                </header>

                <div class="list">

                </div>
            </div>
            <div class="card">
                <h1>Card</h1>
                <ul class="listCard">
                </ul>
                <div class="checkOut">
                    <div class="total">0</div>
                    <div class="closeShopping">Close</div>
                </div>
             </div>

                  <!-- <a class="shopping-cart" href="cart.html" (click)="opencart()"><i class="fas fa-shopping-cart"></i></a> -->
                </div>
              </li>


          <a class="mobile-show search-bar-icon" href="#"><i class="fas fa-search"></i></a>
          <div class="mobile-menu"></div>


        <!-- menu end -->







<!-- end header -->

<!-- search area -->



 <div class="search-area">
<div class=" ">
  <div class="row">
    <div class="col-lg-12">
      <span class="close-btn"><i class="fas fa-window-close"></i></span>
      <div class="search-bar">
        <div class="search-bar-tablecell">
          <h3>Search For:</h3>
          <input type="text" placeholder="Keywords">
          <button type="submit">Search <i class="fas fa-search"></i></button>

        </div>
      </div>
    </div>
  </div>
</div>
</div>


<!-- end search arewa -->


<div class="sidebar {{hidde}}  {{visabl}}">

  <a href="#">Home</a>
  <a href="#">About</a>
  <a href="#">Contact</a>

  <input type="button" value="Close" style="margin-top: 30rem;" (click)="hidden()">
</div>









